<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt">
        <h2>Pub Game is ready to play!<br />Get people around you & Enjoy.</h2>
        <hr>
        <h3>Our app is created for you to mingle with people in a faster and funnier way.</h3>
        <p class="mt">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="mt"><button class="btn btn-lg btn-trans">LEARN MORE</button></p>
      </div>

      <div class="col-md-6 centered">
        <%= image_tag asset_url('home/gamess.png'), alt: " klarx, klarx logo", class: 'logo', width: "300" %>
      </div>
    </div>
  </div>
</div>

<div class="container mtb">
  <div class="row centered">
    <div class="col-md-4 mt">
      <img src="img/ico-02.png" alt="" width="90">
      <h4>GOOD DESIGN</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a printer took a galley.</p>
    </div>

    <div class="col-md-4 mt">
      <img src="img/ico-01.png" alt="" width="90">
      <h4>WELL PROTECTED</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a printer took a galley.</p>
    </div>

    <div class="col-md-4 mt">
      <img src="img/ico-03.png" alt="" width="90">
      <h4>HIGH CLASS</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a printer took a galley.</p>
    </div>

    <div class="col-md-4 mt">
      <img src="img/ico-04.png" alt="" width="90">
      <h4>RESPONSIVE</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a printer took a galley.</p>
    </div>

    <div class="col-md-4 mt">
      <img src="img/ico-05.png" alt="" width="90">
      <h4>FREE SUPPORT</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a printer took a galley.</p>
    </div>

    <div class="col-md-4 mt">
      <img src="img/ico-06.png" alt="" width="90">
      <h4>AFFORDABLE</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a printer took a galley.</p>
    </div>
  </div>
</div>

<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 centered">
        <img src="img/two-phone.jpg" class="img-responsive">
      </div>
      <div class="col-md-6 mt">
        <h2>Discover How Wonderful Is<br />Our App In Your Hands.</h2>
        <hr>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
        <p class="mt">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
          desktop publishing software.</p>
        <p class="mt"><button class="btn btn-lg btn-trans">LEARN MORE</button></p>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 testimonials">
      <h2>What Our Users Think About Us</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <img src="img/ui-01.jpg" class="img-circle aligncenter" width="120" alt="First slide">
            <h3>Mark Turin</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
          <div class="item">
            <img src="img/ui-02.jpg" class="img-circle aligncenter" width="120" alt="Second slide">
            <h3>Sarah Schmidt</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
          <div class="item">
            <img src="img/ui-03.jpg" width="120" class="img-circle aligncenter" alt="Third slide">
            <h3>Phil Carsons</h3>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form role="form" action="register.php" method="post" enctype="plain">
          <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
          <button class='btn btn-green2 subscribe-submit' type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="centered">Contact Us</h2>
        <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">

          <div class="form-group">
            <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
            <div class="validate"></div>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
            <div class="validate"></div>
          </div>

          <div class="loading"></div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>

          <div class="form-send">
            <button type="submit" class="btn btn-large">Send Message</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<div id="copyrights">
  <div class="container">
    <p>
      &copy; Copyrights <strong>BaturayKaraduman</strong>. All Rights Reserved
    </p>
    <div class="credits">
      Created with Ruby on Rails & React & React Native
    </div>
  </div>
</div>
